@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Rubik+Dirt&family=Ubuntu&display=swap');
.pokecard-desc{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-top: 1px solid rgb(187, 185, 185);
    /* padding: 0; */
    height: 60px;
}
.pokecard-name{
    padding: 0 12px;
    font-size: 1.4rem;

    /* width: 180px; */
    margin: 0;
    /* font-family: 'Fraunces', serif; */
    font-family: 'Rubik Dirt', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
    /*Evitar desbordamiento*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pokecard-img-container{
    /* background-color: #cecece; */
    border-radius: 25px;
    margin: 12px 12px;
    height: 120px;
    max-height: 120px;
}
.pokecard-container{
    border:1px solid rgb(187, 185, 185);
    border-radius: 8px;
    width: 200px;
    height: 240px;
    /* background-color:; */
    /* padding: 12px; */
}
.pokecard-img-container:hover img{
    transform: scale(1.4);
    transition: transform 1s;
    cursor: pointer;
}